[submodule "app/src/main/assets/public"]
	path = app/src/main/assets/public
	url = https://bitbucket.org/bluetooth-SIG/public.git
[submodule "app/src/main/assets/bluetooth-relevant-mapper"]
	path = app/src/main/assets/bluetooth-relevant-mapper
	url = https://github.com/701Enti/bluetooth-relevant-mapper.git
